.terms_and_condition{
        background-image: url("/images/aboutus/aboutbanner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
        background-position-x: center;
}