.pro_designer .single_price {
    background: #5e42d3;
}

.pro_designer .home_banner{
    background: #5e42d3;
}


.standard_designer .propricediv>div>button {
    background: #7d759c;
}


.standard_designer .propricediv>div>h4 {
    color: #7d759c;
}


.standard_designer .propricediv .position-rel{
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
}

.pro_designer .propricediv .position-rel{
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
}