#payment-container{
    padding-top: 10% !important;
    padding-bottom: 50px;
}


.payment-section-heading{
    background-color: #6E3DB7;
    color : white;
    padding : 3px;
    border-radius: 5px;
}


.payment-section-heading span.badge{
    background-color: white;
    padding : 9px 15px;
    margin-right: 10px;
    color : #6E3DB7;
    border-radius: 3px 0 0 3px;
}

.payment-section-heading span.badge + span.head-t {
    line-height: 36px;
    font-size: 19px;
}

.input-group-prepend, .input-group-prepend > div {
    width: 100%;
}

#final_submit_btn {
    background: #6E3DB7;
    outline: 0;
    font-size: 18px;
    box-shadow: none;
}

input:focus, select:focus {
    outline: 0 !important;
    box-shadow: none !important;
    border-color: #6E3DB7 !important;
}

.list-group-item {
    line-height: 1;
}


.list-group-item h6, .list-group-item span, .list-group-item strong {
    font-size: 16px;
}

.payment-box {
    background-color: #fff;
    padding : 20px;
    border-radius: 8px;
}

.payment-box-second {
    background-color: #fff;
    padding : 20px;
    border-radius: 8px;
}

.main-payment {
    background: #eee;
}

.money-back-img{
    display: table;
    margin: 12px auto;
    clear: both;
}



#discount_div{
    background-color: #6E3DB7;
    color : white !important;
}


#discount_div div h6{
    color : white !important;
}


#itemDiscount{
    color : white !important;
}

.show-on-mob {
    display: none;
}


@media only screen and (max-width: 576px) {
    .main-payment {
        padding-top: 60px;
    }

    .show-on-mob {
        display: initial;
    }

    .hide-on-mob {
        display: none;
    }

    .payment-section-heading span.badge {
        padding: 7px 15px;
    }
}