#standard {
    background: url('/images/standard2/bg.jpg') center center no-repeat;
    background-size: cover;
}

#standard .banner-center .row .col-md-5 .bannerbtnwhitediv .pricing.purple-link {
    background: #5e42d3;
    color: #fff;
}

#standard .banner-center .row .col-md-5 .bannerbtnwhitediv .a-link:hover {
    background: #5e42d3;
    color: #fff;
    border: 2px solid #5e42d3;
}

#standard .banner-center .row .standardpagemainbannerimg>img {
    width: 100%;
    max-width: 596px;
}

.testmainwhite {
    background: #fff;
}


@media (min-width: 1800px) {
    .howitworkdiv1::before, .howitworkdiv2::before {
        top: 12%;
        left: 440px;
        font-size: 110px;
    }
    .howitworkdiv>h5 {
        font-size: 24px;
    }
    
    #standard .banner-center .row .standardpagemainbannerimg>img {
        max-width: 710px;
    }
    
}

@media (min-width: 600px) {
    #standard .banner-center .row .standardpagemainbannerimg>img {
        min-width: 596px;
    }
    
}