.pricingtabcontent{
    padding-top: 100px;
}
.pricingtab{
    border: none;
    justify-content: center;
}
.pricingtab>li>a{
    color: white;
    background: #464646;
    text-decoration: none;
    border: none !important;
    border-radius: 0px !important;
    padding: 15px 40px 15px 40px;
    font-weight: 700;
    transition: transform 0.25s ease;
    margin-left: 2px;
}
.pricingtab>li>a.active, .pricingtab>li>a:focus{
    color: white !important;
    background: #6045d4 !important;
    border-radius: 0px !important;
    transform: scale(1.09);
    
}
.pricingplaninfosec{
    padding: 80px 0px 80px 0px;
    background: #6045d4;
    margin-bottom: 100px;
}
.faqsec{
    margin-bottom: 100px;
}
.subscribeinput{
        border-top-left-radius: 20px;
        width: 300px;
        margin-right: -5px;
        border: none;
        outline: none;
        font-size: 13px;
        background: #f2f2f2;
        padding: 13px 20px 13px 35px;
        border-bottom-left-radius: 20px;
}
.subscribebtn{
    padding: 10px 35px 10px 35px;
    background: #5e42d3;
    font-weight: 600;
    border: none;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    color: white;
}
.faqaccordion{
    border-bottom: 1px solid;
    border: none;
    padding: 0px 0px 6px 0px;
}
.faqaccordion .card_header{
    background: transparent;
}


.faqaccordionbtn{
    font-size: 20px;
     width: 100%;
    text-align: left;
    color: #515151;
    font-weight: 700;
    text-decoration: none
}
.faqaccordionbtn:focus{
    box-shadow: none;
    color: #515151;
}
.faqaccordionbtn:hover{
    color: #515151;
}
.plussign{
    color: #5e42d3;
}
.pricingplanrow{
    margin-bottom: 50px;
}
.addonplansec{
    margin-bottom: 50px;
}
.pricingtabsec{
    padding-top: 170px;
}
.pricingbannercolor{
        position: absolute;
        background: #f0f0f0;
        width: 100%;
        height: 40%;
        top: 62px;
}

@media (min-width: 1800px) {
    .subscribeinput {
        width: 350px;
        font-size: 16px;
        top: -2px;
        position: relative;
    }

    .faqaccordionbtn {
        font-size: 24px;
    }


}

@media (max-width: 576px) {

    .pricingtabsec {
        padding-top: 120px;
    }

    .pricingtabsec > img {
        display: none;
    }

    .pricingtab>li>a {
        padding: 10px 15px 10px 15px;
        font-size: 14px;
    }

    .pricingplanrow {
        margin-bottom: 0;
    }

    .pricingplanrow .single-service {
        padding-top: 30px;
    }

    .pricingplanrow + .row .single-service {
        padding-top: 30px;
    }

    .subscribeinputform {
        width: 100%;
    }
    .subscribeinput {
        width: calc(100% - 130px);
        font-size: 12px;
        padding: 13px 15px 13px 20px;
        margin-left: 15px;
    }

    .subscribebtn {
        padding: 12px 15px 10px 15px;
        font-size: 14px;
        margin-right: 15px;
    }

    
}